@import "tailwindcss";

@layer base {
  .container {
    @apply mx-auto px-1;
  }

  h1 {
    @apply text-5xl md:text-7xl font-bold;
  }
  h2 {
    @apply text-4xl md:text-6xl font-bold;
  }
  h3 {
    @apply text-3xl md:text-5xl font-bold;
  }
  h4 {
    @apply text-2xl md:text-4xl font-bold;
  }
  h5 {
    @apply text-xl md:text-2xl;
  }
}